// Config
// application-wide Sass variables


$font-family-base: "Roboto, HelveticaNeue, Arial, sans-serif";
$font-family-brand: "Rubik, Roboto, HelveticaNeue, Arial, sans-serif";
$font-size-base: 14px;

$font-weights: () !default;
$font-weights: map-merge((
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
), $font-weights);

$line-height-base: 20px;
$line-height-large: 24px;

$input-line-height: 1.125;

$button-font-weight: 500;

$h1-font-size: 24px;
$h1-font-weight: map-get($font-weights, "normal");
$h1-line-height: 32px;
$h1-font-family: $font-family-brand;
$h2-font-size: 20px;
$h2-font-weight: map-get($font-weights, "bold");
$h2-line-height: 32px;
$h2-font-family: $font-family-brand;
$h3-font-size: 18px;
$h3-font-weight: map-get($font-weights, "normal");
$h3-line-height: 28px;
$h3-font-family: $font-family-brand;
$h4-font-size: 15px;
$h4-font-weight: map-get($font-weights, "normal");
$h4-line-height: 24px;
$h4-font-family: $font-family-brand;

$display1-font-size: 34px;
$display1-font-weight: map-get($font-weights, "normal");
$display1-line-height: 40px;
$display1-font-family: $font-family-brand;

$display2-font-size: 45px;
$display2-font-weight: map-get($font-weights, "normal");
$display2-line-height: 48px;
$display2-font-family: $font-family-brand;

$icon-size: 24px;

$transition-duration-base: .25s;
$transition-timing-function-base: ease;

$spacer: 16px;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@import "~@angular/material/theming";

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$color-primary: map-get($app-primary, 500);
$color-success: map-get($mat-green, 500);
$color-danger: map-get($app-warn, 500);

$link-color: map-get($app-primary, 500);
$link-decoration: underline;
$link-hover-color: map-get($app-primary, 700);
$link-hover-decoration: underline;

$body-bg: map-get($mat-gray, 50);


// ng-progress

$progress-bar-height: 3px;
$progress-bar-color: map-get($app-primary, 600);
