<div class="page-content">
  <section>
    <mat-list>
      <div mat-subheader>Listing</div>
      <mat-list-item *ngFor="let crypto of (cryptocurrency$ | async).data" style="background: #fff; border-bottom: 3px solid #fafafa">
        <mat-icon mat-list-icon>help_outline</mat-icon>
        <div mat-line style="font-weight: 700">{{crypto.name}}</div>
        <div mat-line style="font-weight: 500; font-size: 12px; opacity: .66">{{crypto.symbol}}</div>
        <div style="text-align: right; ">
<!--          <div style="font-weight: 700">12 345<span style="font-size: 12px; opacity: .5">.67</span> PLN</div>-->
          <div style="font-weight: 700">{{crypto.quote.PLN.price}} PLN</div>
          <div style="font-weight: 500; font-size: 11px">
            <span>
              <span style="display: inline-block; padding-left: 21px; position: relative; color: #ef5350; ">
                <mat-icon style="position: absolute; top: -2px; left: 0;">arrow_drop_down</mat-icon> {{crypto.quote.PLN.percent_change_6h}}%
              </span>
              <span style="color: #bdbdbd; margin-left: 4px;">6h</span>
            </span>
            <span style="width: 6px; display: inline-block"></span>
            <span>
              <span style="display: inline-block; padding-left: 21px; position: relative; color: #66bb6a; ">
                <mat-icon style="position: absolute; top: -2px; left: 0;">arrow_drop_up</mat-icon> {{crypto.quote.PLN.percent_change_24h}}%
              </span>
              <span style="color: #bdbdbd; margin-left: 4px;">24h</span>
            </span>
            <span style="width: 6px; display: inline-block"></span>
            <span>
              <span style="display: inline-block; padding-left: 21px; position: relative; color: #66bb6a; ">
                <mat-icon style="position: absolute; top: -2px; left: 0;">arrow_drop_up</mat-icon> {{crypto.quote.PLN.percent_change_7d}}%
              </span>
              <span style="color: #bdbdbd; margin-left: 4px;">7d</span>
            </span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </section>
</div>
