@import "../../../../styles/variables";

.home__logo {
  font-size: $font-size-base;
  font-weight: $font-weight-light;

  strong {
    font-weight: $font-weight-black;
    color: map-get($mat-gray, 900);
  }
}
