@import "../../../../styles/variables";

.home__logo {
  font-size: 12px;
  font-weight: map-get($font-weights, "light");

  strong {
    font-weight: map-get($font-weights, "black");
    color: map-get($mat-gray, 900);
  }
}
