@import "~@angular/material/theming";


.app-content {
  height: 100%;
}

.app-content__main {
  max-height: none !important;
  padding-bottom: $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    padding-bottom: $mat-toolbar-height-mobile;
  }
}
