@import "~@angular/material/theming";


.app-content {
  min-height: 100vh;
}

.app-content__main {
  margin-bottom: $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    margin-bottom: $mat-toolbar-height-mobile;
  }
}
